<section>
    <nav>
        <div class="container">
            <div class="card">
                <div class="card-body"><p routerLink = '/loan-scheme'>Loan Schemes</p> </div>
                    
            </div>
                <div class="card">
                    <div class="card-body">
                        <p routerLink = '/loan-offer-page'>Scheme3</p>
                    </div>
              </div>
              <div class="card">
                <div class="card-body">
                    <p routerLink = '/loan-offer-page'>Scheme3</p>
                </div>
              </div> 
              <div class="card">
                <div class="card-body">
                    <p routerLink = '/loan-offer-page'>Scheme3</p>
                </div>
                </div> 
                    
        </div>

       
</nav>


<h2>Auto-Loan offers</h2>
<p>
Hey , you don't have money to buy a favourite brand car , don't worry we are here to help you.
I Bank provides a plenlty of auto-loan schemes with an attractive offers.
Check out which is suitable for you.</p>

  
  
</section>