<p>vehicle works!</p>
<div class="applicationform">Vehicle Details</div>
    <div>Your CustomerID is {{CustomerID}}</div>
        <form #vehicleForm="ngForm" (ngSubmit)="vehicleDataSubmit(vehicleForm.value)">
        <label for="CarMake"> Car Make : </label>
        <input type="text" name="CarMake" id="CarMake" ngModel><br>
        <label for="CarModel"> Car Model: </label>
        <input type="text" name="CarModel" id="CarModel" ngModel><br>
        <label for="ExshowroomPrice">Ex-Showroom Price : </label>
        <input type="number" name="ExshowroomPrice" id="ExshowroomPrice" ngModel><br>
        <label for="OnroadPrice">On-Road Price : </label>
        <input type="number" name="OnroadPrice" id="OnroadPrice" ngModel><br>
        <div class="applicationform">Loan Details</div>
        <label for="OnroadPrice">On-Road Price : </label>
        <input type="number" name="OnroadPrice" id="OnroadPrice" ngModel><br>
        <label for="OnroadPrice">On-Road Price : </label>
        <input type="number" name="OnroadPrice" id="OnroadPrice" ngModel><br>
        <label for="CustomerID">Customer ID : </label>
        <input type="number" name="CustomerID" id="CustomerID" ngModel><br>
        <button type="submit">Next</button>
        </form>
        
        