<header class="header1">
    <h2>VEHICLE LOAN</h2>
  </header>
<div class="applicationform"><h2>Vehicle Details</h2></div>
    <div>Your CustomerID:         {{CustomerID}}</div>
        <form #vehicleForm="ngForm" (ngSubmit)="vehicleDataSubmit(vehicleForm.value)">
            <label   class="form-label" for="CarMake">CarMake: </label>
            <input class="form-control" type="text" name="CarMake" id="CarMake" ngModel>
            <label   class="form-label" for="CarModel">CarModel: </label>
            <input class="form-control" type="text" name="CarModel" id="CarModel" ngModel>
            <label   class="form-label" for="ExshowroomPrice">CarModel: </label>
            <input class="form-control" type="number" name="ExshowroomPrice" id="ExshowroomPrice" ngModel>
            <label   class="form-label" for="OnroadPrice">On roadPrice: </label>
            <input class="form-control" type="number" name="OnroadPrice" id="OnroadPrice" ngModel>
            <label class="form-label" for="CustomerID">Customer ID : </label>
            <input class="form-control"  type="number" name="CustomerID" id="CustomerID" ngModel><br>
        <button class="btn btn-danger btn-block text-center signin" routerLink="/loandetails" type="submit">Next</button>
        </form>
        
        