<header class="header1">
    <h2>VEHICLE LOAN</h2>
    <br>
    <button type="button" routerLink="/homepage">HOME</button>
  </header>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
    <ul>
        <a href="#">Bank's ISO Certifications</a>
    </ul>
    <ul>
        <a href="#">Profile</a>
    </ul>
    <ul>
        <a href="#">Corporate Vision & Mision</a>
    </ul>
    <ul>
        <a href="#">Awards</a>
    </ul>
    <ul>
        <a href="#">Organisation Structure</a>
    </ul>
    <ul>
        <a href="#">JV/Subsidiaries</a>
    </ul>
    <ul>
      <a routerLink="/homepage">HOME</a>
  </ul>
      
  </body>
  <footer class="footer1">
    <a href="#aboutus">About Us</a>
     &nbsp;&nbsp;
      <a href="#privacyPolicy">Privicy Policy </a>
    &nbsp; &nbsp;
    <a href="#carrier">Carrier</a>
    <br>  <br>
     <p>@vehicleloan, Some rights reserved</p>
  </footer>


