<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="homepage.component.css">
</head>

<header>
    <h2>VEHICLE LOAN</h2>
  </header>
  <div class="dashboard">
    <div class="flex-container">
      
       <div class="item"> <button type="button" routerLink="/emicalculator" >CALCULATE EMI</button></div>
       <div  class="item"> <button type="button" routerLink="/eligibilty">CHECK ELIGIBILITY </button></div>
       <div  class="item"> <button >APPLY NOW ONLINE</button></div>
       <div  class="item"> <button type="button" routerLink="/login">LOGIN </button></div>
       <div class="item"> <button  >ABOUT US</button></div>
       
     </div>
  
  <section>
    <nav>
      <ul>
        <div class="grid-item">NEW CAR LOAN FEATURES</div>
        <li><h3>Low Interest Rate</h3></li>
        <LI><h3>Low Processing Fees</h3></LI>
        <li><h3>No Need For Advance EMI</h3></li>
      </ul>
      <br><br><br><br><br>
      <ul>
        <div class="grid-item1">LOAN PROCESS</div>
        <br>
        <li>Check Eligibilty</li>
        <br>
        <LI>Login (If have Registerd)</LI>
        <br>
        <li>Select Loan Offer</li>
        <br>
        <li>Fill Personal & Applicant Details</li>
        <br>
        <LI>Upload Document</LI>
        <br>
        <li>Submit</li>

      </ul>
    </nav>
    
    <article>
        <div class="img1">
            <img src="https://www.bharatbank.com/images/vehicleloan.jpg" alt="">
        </div>
        
      </article>
  </section>
  
  <footer class="footer">
    <a href="#aboutus">About Us</a>
     &nbsp;&nbsp;
      <a href="#privacyPolicy">Privicy Policy </a>
    &nbsp; &nbsp;
    <a href="#carrier">Carrier</a>
    <br><br><br>&nbsp;&nbsp;   
     <p>@vehicleloan, Some rights reserved</p>
 
  </footer>






