
<header class="header">
    <h2>VEHICLE LOAN</h2>
  </header>
  
<h1>Application Form !</h1>
<body class="body">
    <div>
        <form class="Form" #applicationForm="ngForm" (ngSubmit)="application(applicationForm.value)">
            <div ><h2>Personal Details</h2></div>
            <label   class="form-label" for="AppliedOn">Date of Application: </label>
            <input class="form-control" type="date" name="AppliedOn" id="FirstName" ngModel>
            <label   class="form-label" for="FirstName">First Name: </label>
            <input class="form-control" type="text" name="FirstName" id="FirstName" ngModel>
            <label   class="form-label" for="MiddleName">Middle Name: </label>
            <input class="form-control"  type="text" name="MiddleName" id="MiddleName" ngModel><br>
            <label   class="form-label" for="LastName">Last Name: </label>
            <input class="form-control"  type="text" name="LastName" id="LastName" ngModel><br>
            <label   class="form-label" for="Age">Age: </label>
            <input class="form-control"  type="number" name="Age" id="Age" ngModel><br>
            <label   class="form-label" for="Gender">Gender: </label>
            <input class="form-control"  type="text" name="Gender" id="Gender" ngModel><br>
            <label  class="form-label" for="ContactNo">Contact Number: </label>
            <input class="form-control"  type="number" name="ContactNo" id="ContactNo" ngModel><br>
            <label  class="form-label" for="EmailId">EmailId : </label>
            <input class="form-control"  type="email" name="EmailId" id="EmailId" ngModel><br>
            <label   class="form-label" for="Address">Address : </label>
            <input class="form-control"  type="text" name="Address" id="Address" ngModel><br>
            <label   class="form-label" for="State">State : </label>
            <input class="form-control"  type="text" name="State" id="State" ngModel><br>
            <label   class="form-label" for="City">City : </label>
            <input class="form-control"  type="text" name="City" id="City" ngModel><br>
            <label  class="form-label" for="Pincode">Pincode : </label>
            <input class="form-control"  type="number" name="Pincode" id="Pincode" ngModel><br>
            <label   class="form-label" for="TypeOfEmployement">Employement Type(Salaried Or Self-Employement) : </label>
            <input class="form-control"  type="text" name="TypeOfEmployement" id="TypeOfEmployement" ngModel><br>
            <label   class="form-label" for="YearlySalary">Yearly Salary : </label>
            <input class="form-control"  type="number" name="YearlySalary" id="YearlySalary" ngModel><br>
            <label   class="form-label" for="ExistingEmi"> Existing EMI : </label>
            <input class="form-control"  type="number" name="ExistingEmi" id="ExistingEmi" ngModel><br>
            <label   class="form-label" for="UserId"> User ID : </label>
            <input class="form-control"  type="email" name="UserId" id="UserId" ngModel><br>
    
            <button routerLink="/vehicle" class="btn btn-danger btn-block text-center signin"  type="submit">Next</button>
            
    
        </form>
    </div>
</body>