<header>
    <h2>VEHICLE LOAN</h2>
  </header>
<h1>Customer Application</h1>
<div>  
    <table id="studentTable" >
        <tr>
            <td>CustomerID</td>  
            <td>First Name </td>  
            <td>Middle Name</td>  
            <td>Last Name</td> 
            <td>Age</td>
            <td>Gender</td> 
            <td>Contact Number</td>
            <td>EmailId</td>
            <td>Address</td>
            <td>State</td>
            <td>City</td>
            <td>Pincode</td>
            <td>Employement Type</td>
            <td>Yearly Salary</td>
            <td>ExistingEmi</td>
            <td>User ID</td>
           



        </tr> 
    </table>  
</div> 